// ==================================
// company
// ==================================
#company {
  .disable-auto-tel {
    color: inherit;
    text-decoration: none;
    pointer-events: none;
  }
  .company-top {
    position: relative;
    // background: url('../../src/img/wash_slide.jpg') center;
    background: url('../../src/img/company-image.jpg') center;
    background-size: cover;
    width: 100%;
    height: 400px;
    margin-top: 80px;
    @include tb() {
      height: 300px;
      margin-top: 60px;
    }
    & .company-text {
    position: absolute; //上下中央寄せ
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // -webkit-transform: translate(-50%, -50%);
    // -ms-transform: translate(-50%, -50%);
    }
    & .heading {
      color: #fff;
    }
    & .sub-title {
      color: #fff;
    }
  }
  .company {
    &-area {
        padding: 100px 0;
      @include mq () {
        padding: 20px;
      }
      & table {
          margin: 0 auto;
        & tbody {

           tr {
             border:1px solid #b0c4de;
            & th {
              font-size: 1.3em;
              padding: 20px 10px 15px;
              width: 33%;
              vertical-align: top;
              @include tb() {
                font-size: 0.9em;
              }
            }
            & td {
              padding: 20px 10px 15px;
              @include tb() {
                font-size: 0.8em;
              }
              & a {
                color:#00bfff	;
                line-height: 25px;
                font-size: 1.1em;
                &:hover {
                  opacity: 0.5;
                }
              }
            }
          }
        }
      }
    }
  }
}