// ==================================
// company
// ==================================
#company {
  .company-top {
    background: url('../../src/img/ios-3.jpg') center;
    background-size: cover;
    width: 100%;
    height: 300px;
    @include mq() {
      height: 200px;
    }
  }
  .company {
    padding: 200px 100px 80px;
    @include tb() {
      padding: 100px;
    }
    @include mq() {
      padding: 100px 0 0;
    }
    &-area {
        margin-top: 50px;
      @include mq () {
        padding: 20px;
      }
      & table {
          margin: 0 auto;
        & tbody {

           tr {
             border:1px solid #b0c4de;
            & th {
              font-size: 1.3em;
              // padding: 25px 10px 10px 10px;
              padding: 40px 10px 20px 10px;
              width: 33%;
              vertical-align: top;
              @include tb() {
                font-size: 1.0em;
              }
            }
            & td {
              //  padding: 25px 10px 10px 10px;
                padding: 40px 10px 20px 10px;
              & a {
                color:#00bfff	;
                line-height: 40px;
                font-size: 1.1em;
                &:hover {
                  opacity: 0.5;
                }
              }
            }
          }
        }
      }
    }
  }
}