// ==================================
// company
// ==================================
#company {
  .company-top {
    position: relative;
    background: url('../../src/img/ios-3.jpg') center;
    background-size: cover;
    width: 100%;
    height: 400px;
    margin-top: 100px;
    @include tb() {
      height: 300px;
      margin-top: 60px;
    }
    & .company-text {
    position: absolute; //上下中央寄せ
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // -webkit-transform: translate(-50%, -50%);
    // -ms-transform: translate(-50%, -50%);
    }
    & .heading {
      color: #fff;
    }
    & .sub-title {
      color: #fff;
    }
  }
  .company {
    &-area {
        margin-top: 50px;
      @include mq () {
        padding: 20px;
      }
      & table {
          margin: 0 auto;
        & tbody {

           tr {
             border:1px solid #b0c4de;
            & th {
              font-size: 1.3em;
              // padding: 25px 10px 10px 10px;
              padding: 40px 10px 20px 10px;
              width: 33%;
              vertical-align: top;
              @include tb() {
                font-size: 1.0em;
              }
            }
            & td {
              //  padding: 25px 10px 10px 10px;
                padding: 40px 10px 20px 10px;
              & a {
                color:#00bfff	;
                line-height: 40px;
                font-size: 1.1em;
                &:hover {
                  opacity: 0.5;
                }
              }
            }
          }
        }
      }
    }
  }
}