/* -------------------------------------------
* contact
* -------------------------------------------*/
#contact {
  .contact-top {
    position: relative;
    background: url('../../src/img/ios-3.jpg') center;
    background-size: cover;
    width: 100%;
    height: 400px;
    margin-top: 80px;
    @include tb() {
      height: 300px;
      margin-top: 60px;
    }
    & .contact-text {
    position: absolute; //上下中央寄せ
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // -webkit-transform: translate(-50%, -50%);
    // -ms-transform: translate(-50%, -50%);
    }
    & .heading {
      color: #fff;
    }
    & .sub-title {
      color: #fff;
    }
  }
  .contact {
    margin: 20px;
    // .heading {
    //   margin: 0 auto;
    //   width: 40vw;
    //   padding: 1em 0; 
    //   border-bottom: solid 1px black;
    //   @include tb() {
    //     font-size: 1.4em;
    //     padding: .5em 0; 
    //     margin-bottom: 20px;
    //   }
    // }
    &-wrapper {
      display: flex;
      padding: 80px;
      @include tb() {
        display: block;
        padding: 10px;
      }
    }
    &-left {
      flex-basis: 49.5%;
      @include tb() {
        width: 100%;
      }
    }
    &-right {
      flex-basis: 49.5%;
      position: relative;
      height: 0;
      padding-bottom: 50%;
      overflow: hidden;
      @include tb() {
        width: 100%;
      }
      & iframe {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        max-width: 90%;
        max-height: 80%;
        @include tb() {
        max-height: 100%;
        max-width: 100%;
        }
      }

    }
    &-form {
      //form layout(name,email,textarea)
      height: 100%;
      input[type=text],
      input[type=email],
      textarea,
      input[type=submit] {
        padding: 5px;
        margin: 0 0 1em;
        display: block;
        outline: none;
        border-radius: 5px;
      }
      input[type=text] {
        height: 2em;
        font-size: 1.1em;
        // width: 15em;
        @include tb() {
          font-size: 0.8em;
        }
        @include mq {
          &:focus {
            border: 2px solid limegreen;
          }
        }
      }
      input[type=email] {
        height: 2em;
        font-size: 1.1em;
        // width: 15em;
        @include tb() {
          font-size: 0.8em;
        }
        @include mq {
          &:focus {
            border: 2px solid limegreen;
          }
        }
      }
      textarea {
        width: 100%;
        height: 10em;
        font-size: 1.5em;
        @include tb() {
          height: 7em;
          font-size: 1.2em;
        }
        @include mq {
          font-size: .8em;
          &:focus {
            border: 2px solid limegreen;
          }
        }
      }
      //form button layout
      & .buttons {
        text-align: center;
      }
      input[type=submit] {
        display: inline-block;
        width: 10em;
        height: 4em;
        cursor: pointer;
        @include tb() {
          height: 2em;
          margin-bottom: 20px;
        }
      }
      // focus action
      input[type=text]:focus,
      input[type=email]:focus,
      textarea:focus {
        box-shadow: 0 0 10px #70bdd3 inset;
      }
      // hover action
      input[type=submit]:hover {
        opacity: 0.5;
      }
    }
  }
}
