// ==================================
// config(初期設定や変数)
// ==================================
//560px ~ 960pxまで
@mixin tb($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
//0 ~ 560pxまで
  @mixin mq($breakpoint: sm) {
    @media #{map-get($breakpoints, $breakpoint)} {
      @content;
  }
}

// マップ型変数
$breakpoints: (
  'sm': 'screen and (max-width: 560px)',
  'md': 'screen and (max-width: 960px)',
) !default;

//メディアクエリーの読み込み方法
// 0 ~ 960pxのスタイル
// @include tb() {
//   display: block;
// }

/* -------------------------------------------
* base(全体で共通のスタイル)
* -------------------------------------------*/
html {

}
body {
  font-family: 'Oswald', sans-serif,'Montserrat';
  letter-spacing: 2px;
  position: relative;
}
*,*::before,*::after {
  box-sizing: border-box;
}
#wrapper {

}
#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // z-index: 0;
  z-index: -1;
}
/* -------------------------------------------
* parts
* -------------------------------------------*/
.heading {
  // padding: 0 0 2em;
  position: relative;
  text-align: center;
  // display: inline-block;
  font-size: 2.5em;
  font-weight: bold;
  color: #000;
  @include tb() {
    font-size: 1.8em;
  }
  @include mq() {
    font-size: 1.6em;
  }
}
.sub-title {
  text-align: center;
  font-size: 1.0em;
  margin: 15px 0 0;
}
.image-mask {
  background:rgba(0,0,0,0.7);
  // padding: 50px 50px 0;
  height: 400px;
  @include tb() {
    height: 300px;
  }
}
//top-image の背景画像
.none {
  display: none;
}
.clearfix::after {
   content: '';
   display: block;
   clear: both;
 }
 .btn {
   font-family: Orbitron, sans-serif;
   display: inline-block;
   text-decoration: none;
   padding: 15px;
   color: black;
   border-bottom: solid 2px black;
   z-index: 9999;
   &:hover {
    background-color: #8f8f8f;
    border-bottom: none;
   }
 }
.scroll {
  // margin-top: 100px;
  margin: 80px 0;
  text-align: center;
  z-index: 9999;
  @include mq() {
    margin: 50px 0;
  }
  &-top {
    // margin-top: 100px;
    display: inline-block;
    font-size: 1.2em;
    cursor: pointer;
    outline: none;
    color: #8f8f8f;
    &:hover {
      // box-shadow: 5px 5px 5px rgba(0,0,0,0.20);
      // transform: translateY(-4px);
      color: black;
    }
  }
  &-down {
    text-decoration: none;
    color: #8f8f8f;
    &:hover {
      color: black;
    }
  }
  i {
    font-size: 2em;
  }
}
/* -------------------------------------------
* JS(JSの操作で追加するプロパティ
* -------------------------------------------*/
//section毎 ふわっとfadein
.fade-up {
opacity : 0;
transform : translate(0, 45px);
// transition : all 300ms;
transition : all .8s;
}
.fade-up.effect-scroll {
opacity : 1;
transform : translate(0, 0);
}
/* -------------------------------------------
* top(header)
* -------------------------------------------*/
#header {
  // position: fixed;
  // width: 100%;
  // height: 70px;
  // padding: 5px;
  // background: #000;
  // z-index: 5; // 重なり一番上
  // width: 100%;
}
// #header.m_scroll {
//   // background: rgba(255, 255, 255,.8);
//   background: #000;
//   transition: .5s ease;
//   @include mq() {
//     // background: transparent;
//   }
// }
.header-inner {
  position: fixed;
  min-width: 1260px;//最低でも1260px以上
  width: 100%;
  height: 100px;
  padding: 20px;
  top: 0;
  left: 0;
  background-color: #000;
  z-index: 4; // 重なり一番上
  display: flex;//site_logoとnav_item横並び
  @include tb () {
    min-width: 0;
    height: 70px;
    padding: 10px 15px;
  }
}
//logo
.site-logo {
  padding-left: 30px;
  font-weight: bold;
  flex-basis: 300px;
  margin: 0 auto 0 0;
  @include tb() {
    flex-basis: 0;
    padding-left: 0;
  }
  & a {
    position: relative; //z-indexを指定したいので,position指定
    text-decoration: none;
    color: #000;
    font-size: 1.6em;
    line-height: 1.6em;
    z-index: 3; //重なり 1番上
    &:hover {
      color: #000;
    }
  }
  & img {
    width: 140px;
    @include tb() {
      width: 100px;
    }
  }
}
//global_nav
.nav {
  display: flex;
  justify-content: flex-start;//左につめて横並び
  line-height: 60px;
  @include tb() {
  position: absolute; 
  top: 0;
  right: -100%; //hambergermenuをクリックするまで、画面外(右)へ隠しておく
  // right: 0%;
  // background: rgba(0, 0, 0, .85);
  background: #000; 
  width: 100%;
  height: 100vh;
  transition: .5s;
  //navgation_menu用
  display: table;
    //ドロワーメニュー 全体cover
    &.active {
      transition: .5s;
      transform: translateX(-100%);
      z-index: 2; //重なり 2番目
    }
  }
  &-list {
    @include tb() {
    display: table-cell; //.navにdisplay:table;
    vertical-align: middle; //縦中央寄せ
    }
  }
  &-item {
    margin-right: 80px;
    font-weight: bold;
    text-align: center; 
    & a {
      color: #fff;
      text-decoration: none;
      font-size: 1.3em;
      @include tb() {
        display: block;
        width: 100%;
      }
      &:hover {
        opacity: 0.5;
        color: #fff;
      }
    }
  }
}
//hamberger-menu 位置
.hamberger-menu {
  @include tb() {
  transition: all .4s;
  box-sizing: border-box;
  position: fixed;
  top: 15px;
  right: 15px;
  width: 40px;
  height: 32px;
  z-index: 5; //重なり 1番上
  //三本レイアウト
  span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #fff;
    // background-color: #000;
    border-radius: 4px;
    z-index: 5; //重なり 1番上
    &:nth-of-type(1) {
      top: 0px;
    }
    &:nth-of-type(2) {
      top: 14px;
    }
    &:nth-of-type(3) {
      bottom: 0;
    }
  }
    //✖(バッテンレイアウト)
    &.active span {
      &:nth-of-type(1) {
        transform: translateY(12px) rotate(-45deg);
        // background-color: #fff;
        background-color: #fff;
      }
      &:nth-of-type(2) {
        opacity: 0;
      }
      &:nth-of-type(3) {
        transform: translateY(-15px) rotate(45deg);
        // background-color: #fff;
        background-color: #fff;
      }
    }
  }
}
/* -------------------------------------------
* footer
* -------------------------------------------*/
.footer {
    background-color: #000;
    color: #fff;
    & .copyright {
      text-align: center;
      padding: 10px;
      color: #bbb;
    }
  // footer-nav
  &-nav {

  }

  &-content {
    color: #bbb;
    height: 300px;
    background-image: url(../../src/img/building.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; //背景画像は中央を軸に表示させる
    @include mq() {
      height: 200px;
    }
  }
  &-mask {
    background:rgba(0,0,0,0.7);
    padding: 50px 50px 0;
    height: 300px;
    @include mq() {
      height: 200px;
      padding: 0;
    }
  }
  &-left {
    float: left;
    @include mq() {
      float: initial;
      margin-bottom: 30px;
    }

    & table {
      font-size: 1.1em;
    @include mq() {
      margin: 0 auto;
    }
      & tr {
        font-size: 1.0em;
        line-height: 1.5em;
        @include mq() {
          font-size: 0.8em;
        }
      }
      & td {
      }
    }
  }
  &-right {
    float: right;
    @include mq() {
      float: initial;
    }
  }
  &-nav {

  }
  &-item {
    display: inline-block;
    padding: 0 15px;
    letter-spacing: 1px;
    font-size: 1.2em;
    @include mq() {
      display: block;
      text-align: center;
      padding: 10px;
      border: 1px solid;
      font-size: 1.0em;
    }
    & + .footer-item {
      border-left: 2px solid #bbb;
    @include mq() {
      display: block;
    }
    }
    & a {
      color: #bbb;
      transition: color 0.15s;
      text-decoration: none;
      &:hover {
      border-bottom: 2px dashed #777;
      color: #ddd;
      opacity: 0.8;
      @include mq() {
        border-bottom: none;
      }
      }
    }
  }
  & .copyright {
    text-align: center;
    padding: 10px;
    color: #bbb;
    margin-bottom: -15px;
  }
}