/* -------------------------------------------
* pricelist
* -------------------------------------------*/
#pricelist {
  height: 100vh;

  .scrollbox {
    position: relative;
    height: 70vh;
  }
  .parallax-bg {
    position: relative;
    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  /*各背景の画像*/
  .img-bg-01 {
    background-image: url('../../src/img/car1.jpg');
  }
  .img-bg-02 {
    background-image: url('../../src/img/car2.jpg');
  }
  .img-bg-03 {
    background-image: url('../../src/img/car3.jpg');
  }
  .img-bg-04 {
    background-image: url('../../src/img/car4.jpg');
  }
}